

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    background-image: url("../images/top-banner.png");
    background-repeat: no-repeat;
}
h1,h2,h3{
    font-family: 'Bebas Neue', cursive;
    
    color: #363958;
    font-weight: 500;
    margin-bottom: 20px;
}


p{
    font-size: 1rem;
    
    margin-bottom: 50px;
}
section{
    height: 500px;
    margin-bottom: 150px;
}
li{
    display: inline-block;
    font-size: 1rem;
    
}
li a{
    color: #3c3c3c;
    text-decoration: none;
}
nav{
    float:right;
    height: 120px;
    margin-right: 10%;
    
    
}
footer{
    text-align: center;
    margin-bottom: 50px;
}
nav li{
    padding-left: 60px;
}



.top-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

.decent-img{
    width: 80%;
}

.top-section p{
    width: 80%;
}
.about-section p{
    width: 80%;
    
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 10%;
}

.color-highlight{
    color: #F46060;
}
.link-button{
    color: white;
    background-color: #FF8063;
    padding: 10px 20px 10px 20px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 5px;
    
}

.big-font{
    font-size: 5rem;
    padding-top: 70px;
}

.big-medium-font{
    font-size: 3rem;
}

.medium-font{
    font-size: 1.5rem;
}

.one-third-width{
    width: 25%;
    float: left;
    margin-left:4%;
    box-shadow: 5px 5px 30px rgb(187, 160, 160);
    border-radius: 10px;
    padding: 10px;
}
footer p{
    font-size: 2rem;
    margin:0;
    margin-bottom: 1rem;
    color: #363958;
    font-weight: 700;
}
footer h3{
    margin-bottom: 1rem;
}

footer img{
    width: 40px;
}
.center-align{
    text-align: center;
    margin-bottom: 70px;
}
.cards{
    margin-left: 80px;
}


.footer-icon{
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 8px;
}

.inquiry-section{
    height: 200px;
    width: 70%;
    background-image: url("../images/bg.png");
    
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 0 auto;
    
    margin-bottom: 100px;
    
    background-size: contain;
    
}
.inquiry-section h1{
    color: white;
}
.working-section img{
    width: 100%;
}
.working-section{
    background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
    background-position-y: 200px;
}
.blog-section{
    width: 50%;
    text-align: center;
    margin: 0 auto 0 auto;
    margin-bottom: 150px;
    

}
.blog-section img{
    border: 4px solid black;
}

.about-section{
    height: 400px;
    background-image: url("../images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.about-section h2{
    margin-top: 70px;
}

.link-button img{
    
    margin-top: 25px;
}
.same-line{
    width: 35%;
    float: left;
    display: inline;
    
}




#inquiry-text{
    
    padding-top: 35px;
    padding-left: 110px;
    
}

#inquiry-button{
    margin-top: 90px;
    margin-left: 120px;
}
#extra-padding{
    margin-left: 120px;
}
   
